<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
</head>

<body>
<div class="login">
  <div class="login-screen">
    <div class="app-title">
      <h1>Registrarse</h1>
    </div>

    <div class="login-form">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="control-group">
            <%= f.label :email, "Correo electronico" %><br /><br>
            <%= f.email_field :email, autofocus: true, class:"login-field"%>
          </div>
          <br>

          <div class="control-group">
            <%= f.label :password, "Contraseña" %><br />
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class:"login-pass" %>
          </div>
          <br>

          <div class="control-group">
            <%= f.label :password_confirmation, "Confirmar contraseña" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class:"login-pass" %>
          </div>

          <br>

          <div class="control-group">
            <%= f.submit "Registrarse", class:"btnlog btn-success" %>
          </div>

          <br>
      <% end %>

      <div class="control-group">
        <p>¿Ya tienes cuenta? - Inicia sesion</p>
        <%= render "devise/shared/links" %>

        <%= link_to 'Regresar', :back, class: "btnlog btn-info" %>
      </div>
    </div>
  </div>
</div>
</body>

</html>