<!--Si la actividad no tiene usuario de creacion evita el error-->
<% unless @article.user.nil? %>
    <%end%>
<!---->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">


  <style>
    body {
      padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }

    /* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

    .business-header {
      height: 400px;
      background: url(<%= @article.image.url(:thumb) %>) center center no-repeat scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
    }

    /* Customize the text color and shadow color and to optimize text legibility. */

    .tagline {
      text-shadow: 0 0 10px #000;
      color: #fff;
    }

    .img-center {
      margin: 0 auto;
    }

    footer {
      margin: 50px 0;
    }
    .container {
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }
  </style>

</head>

<header class="business-header">
  <div class="container">
    <div class="row">
    </div>
  </div>
</header>

<br>

<div class="container">

  <!-- Heading Row -->
  <div class="row">
    <div class="col-md-8">
      <img class="img-responsive img-rounded"  alt=""><iframe width="640" height="400" src="<%= @article.youtubeurl %>" frameborder="0" allowfullscreen></iframe>
    </div>

    <!-- /.col-md-8 -->
    <div class="col-md-4">
      <h1><%= @article.title%></h1>
      <h3><%= @article.body%></h3>
      <a class="btn btn-primary btn-lg" href="#">Empezar Examen</a>
    </div>
    <!-- /.col-md-4 -->
  </div>
  <!--Advertencia de sitios inseguros-->
  <div class="col-md-12">
    <span class="label label-danger">¡Advertencia! - ¡Muchos webs sites pueden no ser confiables!</span>
  </div>
  <br><br>
  <!-->
  <!-- /.row -->


  <!-- Call to Action Well -->
  <div class="col-md-12">
    <div class="col-md-12">

        <h2>GG</h2><%= image_tag @article.imagefritzing.url(:thumb) %>

        <h2>otroGG</h2><%= image_tag @article.imagematerials.url(:thumb) %>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->

  <!-- Content Row -->
  <div class="row">
    <div class="col-md-4">
      <h2><small>Acerca de esta actividad</small></h2>
      <h4><strong>Objetivo de la actividad:</strong></h4>
      <p><%= @article.objectives%></p>
      <br>
      <br>
      <h4><strong>Completada la actividad el participante será capaz de:</strong></h4>
      <p><%= @article.finishactivity%></p>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
      <h2><small>Alcance de la actividad</small></h2>
      <p><%= @article.goals%></p>
      <a class="btn btn-default" href="#">More Info</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
      <h2><small>Elementos para la implementacion de la actividad: </small></h2>
      <p><%= @article.requirements%></p>
      <a class="btn btn-default" href="#">More Info</a>
    </div>
    <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Your Website 2014</p>
      </div>
    </div>
  </footer>
</div>