<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-header" data-background-color="purple">
    <h3 class="title">Categorías</h3>
    <p class="category">Listado de los cursos</p>
  </div>


  <div class="card-content table-responsive table-full-width">
    <table class="table">
      <thead class="text-danger">
      <th>Título</th>
      <th>Color</th>
      </thead>
      <tbody>



      <tbody>
      <% @categories.each do |category| %>
          <tr>
            <td><%= category.title %></td>
            <td><%= category.color %></td>
            <td><%= link_to 'Mostrar', category, class:"btn btn-info" %></td>
            <td><%= link_to 'Editar', edit_category_path(category),class:"btn btn-warning" %></td>
            <td><%= link_to 'Eliminar', category, class:"btn btn-danger",method: :delete, data: { confirm: '¿Esta seguro de que quiere eliminar?' } %></td>
          </tr>
      <% end %>

      </tbody>
    </table>

  </div>

<br>

</div>

<div class="row center-xs">
  <%= link_to 'Nueva Categoria', new_category_path, class:"btn btn-success" %>
</div>