<% if user_signed_in? %>
<p id="notice"><%= notice %></p>

    <div class="row">
      <div class="col-md-12 col-md-offset-4">
        <h1><%= @category.title %></h1>
        <h2>Actividades</h2>
      </div>
    </div>

<% @category.articles.each do |article| %>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header card-chart" data-background-color="orange"
             style="background:url(<%= article.image.url(:thumb)%>);">
        </div>
        <div class="card-content" style="padding: 24px 32px;">
          <h4 class="title"><%= link_to article.title, article %></h4>
          <p><%= article.body %></p>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons text-primary">access_time</i>Actualizado hace  <%= time_ago_in_words(article.created_at) %>
          </div>
        </div>
      </div>
    </div>
    <%end%>

<div class="center-xs">

</div>

<%else%>
    <h2>Por favor inicia sesion</h2>

<%end%>